/**********Polices**********/

@font-face
{
	font-family: 'Raleway';
	src: url('Fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	src: url('Fonts/Raleway-VariableFont_wght.ttf') format('truetype')
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'Raleway Bold';
	src: url("Fonts/Raleway_Bold/Raleway-Bold.eot") format("eot"),
		 url("Fonts/Raleway_Bold/Raleway-Bold.woff") format("woff"),
		 url("Fonts/Raleway_Bold/Raleway-Bold.ttf") format("truetype"),
		 url("Fonts/Raleway_Bold/Raleway-Bold.svg#Raleway-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

/**********Bloc page**********/

#bloc_page
{
	font-family: 'Raleway', sans-serif;
	max-width: 1440px;
	margin: 0 auto;
}

body
{
	font-family: 'Raleway', sans-serif;
    padding: 4px 30px 0px 30px;
    text-align: justify;
    line-height: 20px;
    padding: 0;
    margin: 0;
}


/**********Header menu/logo**********/

header
{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

#menu 
{
    position: relative;
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
}

#menu a:hover
{
	border-top: solid 2px;
	color: #0065FC;
	align-items: center;
}

.menu-item
{
	height: 100%;
	display: flex;

}

.menu-item a {
    	
    margin-right: 60px;
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}
 
.menu-item-cta a
{
    margin-right: 30px;
    color: #0065FC;
    font-weight: bolder;
}


/**********Barre de recherche**********/

#intro, h2
{
	font-size: large;
    font-weight: bolder;
    letter-spacing: normal;
    margin-bottom: 10px;
    margin-top: 30px;
}

h2
{
	display: block;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#intro p
{
	margin-bottom: 20px;
}

p 
{
    font-size: small;
    font-weight: normal;
    letter-spacing: normal;
    margin-bottom: 10px;
}

.icon
{
	padding: 10px 10px 10px 20px;
    width: 50px;
    height: 40px;
    background: #F2F2F2;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    margin-bottom: 10px;
}

#button
{
	color: white;
	letter-spacing: 1px;
	background-color: #0065FC;
	border: #F2F2F2;
	border-bottom-right-radius: 14px;
	border-top-right-radius: 14px;
	width: 90px;
    height: 40px;
}

#ville
{
	font-weight: bolder;
	border-color: transparent;
	width: 150px;
    height: 40px;
    padding-left: 10px;
    letter-spacing: 1px;
}


/**********Les filtres**********/

#lignedefiltres
{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.titrefiltre
{
	margin-top: 10px;
    font-weight: bolder;
}

.listefiltres
{
	display: flex;
    margin-left: 20px;
}

.listefiltres i
{
    background: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


	

.nomdufiltre
{
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
	font-weight: bolder;
}

.bordure
{
	border: 2px solid #F2F2F2;
	position: relative;
	display: flex;
	margin-left: 10px;
	border-left: transparent;
	border-radius: 25px;
	min-width: max-content;
}
